.ArticleTabs {
  width: 1200px;
  height: 170px;
  /* border: 2px solid black;    */
  display: flex;
  gap: 20px;
  margin: 50px 0px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.ArticleTabs:hover {
  transform: scale(1.02);
}

.Tab-image {
  width: 220px;
  height: 100%;
}

.Tab-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Article-title {
  margin: 10px 0px;
}

.Description {
  margin-bottom: 10px;
}

.tags-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.shitty-icons-1 {
  width: 22px;
  height: 22px;
  
}

.shitty-icons-2 {
  width: 19px;
  height: 19px;
}
