.Trending-Sec{

    width: 100%;
    height: 600px;
  
}

.Trending-Sec .Content{

    display: grid;
    grid-template-columns: 2fr 1fr; 
}

.Trending-Sec .title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.title p{

    
    font-size: 2.5em;
    font-weight: 500;
}

.title .line{

    
    width: 80%;
    height: 0.5px;
    margin-left: 40px;
    background-color: #61677A;


}

.Trending-topics{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.sidebar{

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .Tags-container{
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;

}

.divider-1{

    width: 80%;
    height: 0.2px;
    background-color: black;


}