.Tags{

 
    border-radius: 10px;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Tags:hover{

    scale: 110%;
    cursor: pointer;
}