.Tags {
  border-radius: 10px;
  background-color: #f2f2f2;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
}

.Tags p {
  color: white;
}

.Tags:hover {
  scale: 110%;
  cursor: pointer;
}
