.Tags {
  border-radius: 10px;

  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  max-width: 200px;
  height: 30px;
  max-height: 50px;
  background-color: #dde6ed;
  backdrop-filter: blur(0.5px);
}

.Tags p {
  color: black;
}

.Tags:hover {
  scale: 110%;
  cursor: pointer;
}
