.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px 200px;
  position: sticky;
  font-family: "inter";
}

a {
  color: black;
}

.Navbar .menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 600;
}

.sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212a3e;
  width: 130px;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.User-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.settings {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.profile-img {
  width: 35px;
  height: 35px;
  /* border: 0.01px solid black; */
  border-radius: 50%;
}

.profile-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
