.Slider {
  width: 100%;
  height: 600px;
  background-color: #f1f6f9;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Slider p {
  font-size: 2.8em;
  font-family: "Dancing Script", cursive;
  margin-bottom: 10px;
}

.Slider span {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.sign-btn-2 a {
  color: white;
  font-weight: 300;
}
.sign-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #212a3e;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
  color: #d8d9da;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: 0.1s;
}

.sign-btn-2:hover {
  scale: 102%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
